@import '../variables';
@import '../helpers';

.look-caption {
    border-bottom: 1px solid color(grey-lighter);
    padding: 40px;
}

.look-caption-tile {
    padding: 27px 30px;
}

.look-caption-medium {
    align-self: center;
    background: white;
    font-family: "bodoni-urw";
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    height: 100px;
    padding: 18px;
    position: relative;
    top: -50px;
    width: 60%;
}