.storybox {
  // TODO: COLOR VARIABLE REFACTOR
  background: #7d7e7d;
  position: relative;

  &.storybox-gradient {
    background: linear-gradient(to bottom, #7d7e7d 61%,#2d2d2d 100%);
  }

  &.storybox-footer {
    background: rgba(176, 176, 176, 1);
  }

}

.look-storybox-instagram {
  background: rgba(176, 176, 176, 1);
  height: 110px;
  width: 110px;
  margin-right: 6px;
  margin-bottom: 6px;
}