.storybox {
  // TODO: COLOR VARIABLE REFACTOR
  background: #7d7e7d;
  display: flex;
  width: 100%;
  position: relative;

  &.storybox-gradient {
    background: linear-gradient(to bottom, #7d7e7d 61%,#2d2d2d 100%);
  }

}

