.grid {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 100px;
}

.grid-gutterbottom {
  margin-bottom: 92px;
}

.grid-guttertop {
  margin-top: 92px;
}

.grid-gutters {
  margin: 92px auto;
}

.layout {
    display: flex;

    .layout-horizontal {
        display: flex;
        flex-direction: row;
    }

    .layout-total-center {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .layout-centerandedges {
      align-items: center;
      justify-content: space-between;
    }

    .layout-centervertical {
        align-items: center;
    }

    &.layout-huge {
        height: 700px;
    }

    &.layout-headline {
        height: 618px;
        width: 100%;
    }

}

.look-storyblock {

  &.look-storyblock-side {
    height: 100px;
  }

}

.look-contentsection {
    padding-bottom: 40px;
}

.layout-horizontal-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-vertical {
    display: flex;
    flex-direction: column;
}

.layout-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layout-vertical-totalcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout-micro {
    height: 80px;
    min-width: 104px;
}

.layout-small {
    height: 200px;
}

.layout-medium {
    height: 310px;
}

.layout-widthmedium {
    min-width: 395px;
}

.layout-inlineblock {
    display: inline-block;
}

.layout-large {
    height: 550px;
}

.maincontent {
    width: 72%;
    padding-right: 60px;
}

.sidecontent {
    width: 28%;
    min-height: 100vh;
}

.look-socialside {
    position: relative;
    top: -60px;
}

.look-smallpostlist {
    margin-bottom: 64px;
}

.fix-right {
    position: absolute;
    top: 50%;
    right: 0;
}

.fix-left {
    position: absolute;
    top: 50%;
    left: 0;
}