:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-light: #f0f0f0;
  --color-dark: #202020;
  --color-black-light: #5c5c5c;
  --color-black-almost: #111111;
  --color-black-almost-light: #1b1b1b;
  --color-black-grey: #242424;
  --color-black-grey-light: #383838;
  --color-red-accent: #dd4b39;
  --color-grey-lighter: #ededed;
  --color-grey-normal: #f2f2f2;
  --color-grey-dark: #bcbbbb;
  --font-header: "bodoni-urw";
  --font-main: "raleway";
  --font-smallcaps: "raleway"; }

.smallcaps {
  font-family: var(--font-smallcaps);
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase; }
  .smallcaps.smallcaps-light {
    font-weight: 400; }
  .smallcaps.smallcaps-dark {
    color: #343434; }
  .smallcaps.smallcaps-grey {
    color: #828282; }
  .smallcaps.smallcaps-large {
    font-size: 16px; }
  .smallcaps.smallcaps-borderleft {
    margin: 0 10px; }
    .smallcaps.smallcaps-borderleft::before {
      border-left: 1px solid #bcbcbc;
      content: '';
      flex-direction: row;
      margin-right: 10px; }
  .smallcaps.smallcaps-accent {
    color: #58c6c2; }
  .smallcaps.smallcaps-beauty {
    color: #fd885d; }
  .smallcaps.smallcaps-travel {
    color: #497ece; }
  .smallcaps.smallcaps-celebrity {
    color: #c4093e; }
  .smallcaps.smallcaps-blend {
    color: #bcbcbc; }
  .smallcaps.smallcaps-alt {
    color: #5a5a5a; }
  .smallcaps.smallcaps-accentheader {
    color: #58c6c2; }
    .smallcaps.smallcaps-accentheader::after {
      border-bottom: 1px solid #58c6c2;
      content: '';
      display: block;
      height: 4px; }
  .smallcaps.smallcaps-beautyheader {
    color: #fd885d; }
    .smallcaps.smallcaps-beautyheader::after {
      border-bottom: 1px solid #fd885d;
      content: '';
      display: block;
      height: 4px; }

.cursive {
  color: #b2b2b2;
  font-family: var(--font-header);
  font-size: 11px; }

.header-headlinecaption {
  font-family: var(--font-header);
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase; }

.header-captiontitle {
  font-family: var(--font-header);
  font-size: 28px;
  text-transform: uppercase;
  font-weight: normal; }

.header-contenttitle {
  font-family: var(--font-header);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal; }

.look-text-headerbig {
  font-family: var(--font-header);
  font-size: 48px;
  font-weight: lighter; }

.look-text-headermedium {
  font-family: var(--font-header);
  font-size: 17px; }

.look-font-headerregular {
  font-family: var(--font-header);
  font-size: 18px; }
  .look-font-headerregular.look-font-headerregular-border::after {
    border-bottom: 1px solid black;
    content: '';
    display: block;
    height: 4px;
    width: 50px; }

.font-white {
  color: var(--color-primary); }

.look-text-regular {
  color: #333333;
  font-family: var(--font-smallcaps);
  font-size: 14px;
  font-weight: normal;
  line-height: 22px; }

.look-subtitle {
  font-family: var(--font-smallcaps);
  font-size: 13px;
  color: white; }

.look-subtitleborder {
  font-family: var(--font-smallcaps);
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #414141; }
  .look-subtitleborder .look-subtitleborder-border {
    background: #f2f2f2;
    height: 4px;
    width: 70%; }

.look-smalltitle {
  font-family: var(--font-header);
  font-size: 15px; }

.look-font-microcaps {
  color: #bcbcbc;
  font-family: var(--font-smallcaps);
  font-size: 10px;
  font-weight: bold; }

.look-font-microcaps-dark {
  color: #828282;
  font-family: var(--font-smallcaps);
  font-size: 10px;
  font-weight: bold; }

.look-footer-header {
  font-family: var(--font-header);
  font-size: 40px;
  font-weight: lighter;
  color: white; }

/* Base */
* {
  box-sizing: border-box; }

body, h1, h2, h3, h4, h5, p {
  margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a, a:visited {
  text-decoration: none;
  color: inherit; }

.visually-hidden {
  display: none; }

.grid {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 100px; }

.grid-gutterbottom {
  margin-bottom: 92px; }

.grid-guttertop {
  margin-top: 92px; }

.grid-gutters {
  margin: 92px auto; }

.look-section {
  padding: 42px 0; }

.layout {
  display: flex; }
  .layout .layout-horizontal {
    display: flex;
    flex-direction: row; }
  .layout .layout-total-center {
    align-items: center;
    justify-content: center;
    text-align: center; }
  .layout .layout-centerandedges {
    align-items: center;
    justify-content: space-between; }
  .layout .layout-centervertical {
    align-items: center; }
  .layout.layout-huge {
    height: 700px; }
  .layout.layout-headline {
    height: 618px;
    width: 100%; }

.look-storyblock.look-storyblock-side {
  height: 100px; }

.look-contentsection {
  padding-bottom: 40px; }

.layout-horizontal-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.layout-leftalign-center {
  display: flex;
  align-items: center; }

.layout-vertical {
  display: flex;
  flex-direction: column; }

.layout-wrap {
  flex-wrap: wrap; }

.layout-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.layout-vertical-totalcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.layout-micro {
  height: 80px;
  min-width: 104px; }

.layout-small {
  height: 200px; }

.layout-shmedium {
  height: 235px; }

.layout-widthshmedium {
  width: 235px; }

.layout-medium {
  min-height: 310px; }

.layout-widthmedium {
  min-width: 395px; }

.layout-inlineblock {
  display: inline-block; }

.layout-large {
  height: 550px; }

.maincontent {
  width: 72%;
  padding-right: 60px; }

.sidecontent {
  width: 28%;
  min-height: 100vh; }

.look-socialside {
  position: relative;
  top: -60px; }

.look-smallpostlist {
  margin-bottom: 64px; }

.fix-right {
  position: absolute;
  top: 50%;
  right: 0; }

.fix-left {
  position: absolute;
  top: 50%;
  left: 0; }

/*
    Design weirdness. The last item in the second content section, has
    no border bottom.
*/
.look-beautycontent {
  padding-bottom: 0; }
  .look-beautycontent .look-storyblock:last-child {
    border-bottom: 0 !important; }

.icon-spaceleft {
  padding-left: 10px; }

.look-nobottomborder {
  border-bottom: 0 !important; }

.look-category-header {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 100px;
  margin-bottom: 50px; }

.look-bottomcontent {
  padding: 42px 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.look-bottomcontent-main, .look-bottomcontent-side .storyblock:nth-child(odd) {
  margin-right: 60px; }

.look-bottomcontent-side-caption {
  font-weight: bold;
  margin-top: 24px; }

@media (max-width: 1180px) {
  .sidecontent {
    display: none; }

  .maincontent {
    width: 100%;
    padding-right: 0; } }
@media (max-width: 1100px) {
  .grid {
    padding: 0 20px; }

  .look-footer .look-footer-section {
    width: 50%;
    margin-right: 0; }
    .look-footer .look-footer-section:first-child {
      padding-right: 60px; }
  .look-footer .look-footer-section-instagram {
    display: none; } }
@media (max-width: 860px) {
  .header-social {
    display: none; }

  .headline .headline-caption {
    width: 64vw !important; }

  .layout-stacked {
    flex-direction: column; }

  .layout-stacked-margin {
    margin-right: 0 !important;
    margin-bottom: 40px; }

  .look-footer-section {
    width: 100% !important; } }
@media (max-width: 550px) {
  .navigation ul li {
    padding-right: 10px !important; } }
@media (max-width: 450px) {
  .navigation {
    display: none !important; }

  .menuicon {
    display: block !important; }

  .layout-widthmedium {
    min-width: 100%; } }
.storybox {
  background: #7d7e7d;
  position: relative; }
  .storybox.storybox-gradient {
    background: linear-gradient(to bottom, #7d7e7d 61%, #2d2d2d 100%); }
  .storybox.storybox-footer {
    background: #b0b0b0; }

.look-storybox-instagram {
  background: #b0b0b0;
  height: 110px;
  width: 110px;
  margin-right: 6px;
  margin-bottom: 6px; }

.look-storyblock.look-storyblock-side {
  margin-top: 25px; }
  .look-storyblock.look-storyblock-side .storybox {
    box-sizing: border-box;
    margin-right: 12px; }
  .look-storyblock.look-storyblock-side .look-storyblock-side-category {
    margin-top: 15px; }
.look-storyblock.look-storyblock-content {
  box-sizing: border-box;
  min-height: 395px;
  padding: 40px 0; }
  .look-storyblock.look-storyblock-content .storybox {
    margin-right: 40px; }
  .look-storyblock.look-storyblock-content .look-storyblock-content-caption {
    width: 100%; }
  .look-storyblock.look-storyblock-content .look-storyblock-content-caption-title {
    padding: 24px 0; }
  .look-storyblock.look-storyblock-content .look-storyblock-content-para {
    padding: 0 0 24px 0; }
  .look-storyblock.look-storyblock-content .look-sharecount {
    cursor: pointer; }
    .look-storyblock.look-storyblock-content .look-sharecount .look-sharecount-image {
      cursor: pointer;
      margin-right: 10px; }

.header {
  height: 200px;
  font-family: var(--font-header);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.header-maintitle {
  font-size: 100px;
  font-weight: lighter;
  text-transform: uppercase; }

.header-social ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center; }

.header-social ul li {
  display: inline-block; }

.header .fa {
  cursor: pointer;
  font-size: 18px; }

.header-social ul li .fa {
  padding: 8px; }

.social-divider {
  border-right: 1px solid var(--color-light); }

.menuicon {
  display: none; }

.navigation {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  height: 63px;
  line-height: 63px; }

.navigation ul {
  padding: 0;
  list-style-type: none;
  margin: 0; }

.navigation ul li {
  display: inline-block;
  padding-right: 30px; }

.navigation ul li:last-child {
  padding-right: 0; }

.navigation ul li a {
  text-decoration: none;
  color: var(--color-secondary); }

.headline {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative; }
  .headline .headline-caption {
    width: 32vw;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 16px; }
    .headline .headline-caption .headline-captiontitle {
      padding: 10px; }

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-light: #f0f0f0;
  --color-dark: #202020;
  --color-black-light: #5c5c5c;
  --color-black-almost: #111111;
  --color-black-almost-light: #1b1b1b;
  --color-black-grey: #242424;
  --color-black-grey-light: #383838;
  --color-red-accent: #dd4b39;
  --color-grey-lighter: #ededed;
  --color-grey-normal: #f2f2f2;
  --color-grey-dark: #bcbbbb;
  --font-header: "bodoni-urw";
  --font-main: "raleway";
  --font-smallcaps: "raleway"; }

.look-caption {
  border-bottom: 1px solid var(--color-grey-lighter);
  padding: 40px; }

.look-caption-tile {
  padding: 27px 30px; }

.look-caption-medium {
  align-self: center;
  background: white;
  font-family: "bodoni-urw";
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  height: 100px;
  padding: 18px;
  position: relative;
  top: -50px;
  width: 60%; }

.look-socialblock {
  color: white;
  font-weight: bold;
  height: 38px;
  text-decoration: none;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'raleway';
  font-size: 11px;
  padding: 0 15px;
  position: relative; }
  .look-socialblock.look-socialblock-twitter {
    background: #00aced; }
  .look-socialblock.look-socialblock-pintrest {
    background: #ca0033; }
  .look-socialblock.look-socialblock-instagram {
    background: #7056c3; }
  .look-socialblock .fa {
    height: 16px;
    width: 16px;
    font-size: 16px !important; }
  .look-socialblock .look-socialblock-title {
    position: absolute;
    left: 38px; }
  .look-socialblock .look-socialblock-action {
    text-transform: uppercase; }

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-light: #f0f0f0;
  --color-dark: #202020;
  --color-black-light: #5c5c5c;
  --color-black-almost: #111111;
  --color-black-almost-light: #1b1b1b;
  --color-black-grey: #242424;
  --color-black-grey-light: #383838;
  --color-red-accent: #dd4b39;
  --color-grey-lighter: #ededed;
  --color-grey-normal: #f2f2f2;
  --color-grey-dark: #bcbbbb;
  --font-header: "bodoni-urw";
  --font-main: "raleway";
  --font-smallcaps: "raleway"; }

.look-accentbox {
  padding: 30px;
  text-align: center;
  border: 1px solid #ededed;
  position: relative; }
  .look-accentbox .look-accentbox-topborder {
    height: 4px;
    background-color: var(--color-red-accent);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0; }
  .look-accentbox *:not(.look-accentbox-topborder),
  .look-accentbox *:not(.look-btn) {
    margin-bottom: 25px; }
  .look-accentbox .look-subscribe-btn {
    position: absolute;
    bottom: -21px;
    align-self: center;
    margin: 0; }

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-light: #f0f0f0;
  --color-dark: #202020;
  --color-black-light: #5c5c5c;
  --color-black-almost: #111111;
  --color-black-almost-light: #1b1b1b;
  --color-black-grey: #242424;
  --color-black-grey-light: #383838;
  --color-red-accent: #dd4b39;
  --color-grey-lighter: #ededed;
  --color-grey-normal: #f2f2f2;
  --color-grey-dark: #bcbbbb;
  --font-header: "bodoni-urw";
  --font-main: "raleway";
  --font-smallcaps: "raleway"; }

.look-btn {
  color: white;
  cursor: pointer;
  border: none;
  font-family: var(--font-smallcaps);
  font-size: 11px;
  font-weight: bold;
  height: 42px;
  width: 145px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .look-btn.look-btn-action {
    background-color: var(--color-red-accent); }

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-light: #f0f0f0;
  --color-dark: #202020;
  --color-black-light: #5c5c5c;
  --color-black-almost: #111111;
  --color-black-almost-light: #1b1b1b;
  --color-black-grey: #242424;
  --color-black-grey-light: #383838;
  --color-red-accent: #dd4b39;
  --color-grey-lighter: #ededed;
  --color-grey-normal: #f2f2f2;
  --color-grey-dark: #bcbbbb;
  --font-header: "bodoni-urw";
  --font-main: "raleway";
  --font-smallcaps: "raleway"; }

.look-separator {
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }
  .look-separator.look-separator-grey {
    background-color: var(--color-grey-normal); }

.look-videos {
  position: relative; }
  .look-videos .look-videos-header {
    padding: 30px 0; }
  .look-videos .look-video-list-item .storybox {
    background-image: url(/assets/video-play.png);
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 255px; }
  .look-videos .look-videos-caption {
    align-self: center;
    background: white;
    font-family: "bodoni-urw";
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    padding: 12px;
    position: relative;
    top: -36px;
    width: 80%;
    text-align: center; }
    .look-videos .look-videos-caption.look-videos-caption-pronounced {
      border: 2px solid black; }
  .look-videos .look-video-list-item {
    margin-right: 30px; }
  .look-videos .look-video-list-item:last-child {
    margin-right: 0; }

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-light: #f0f0f0;
  --color-dark: #202020;
  --color-black-light: #5c5c5c;
  --color-black-almost: #111111;
  --color-black-almost-light: #1b1b1b;
  --color-black-grey: #242424;
  --color-black-grey-light: #383838;
  --color-red-accent: #dd4b39;
  --color-grey-lighter: #ededed;
  --color-grey-normal: #f2f2f2;
  --color-grey-dark: #bcbbbb;
  --font-header: "bodoni-urw";
  --font-main: "raleway";
  --font-smallcaps: "raleway"; }

.look-ad {
  background: var(--color-grey-normal);
  color: var(--color-grey-dark);
  font-family: var(--font-main);
  font-size: 16px;
  text-transform: uppercase;
  height: 110px; }

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-light: #f0f0f0;
  --color-dark: #202020;
  --color-black-light: #5c5c5c;
  --color-black-almost: #111111;
  --color-black-almost-light: #1b1b1b;
  --color-black-grey: #242424;
  --color-black-grey-light: #383838;
  --color-red-accent: #dd4b39;
  --color-grey-lighter: #ededed;
  --color-grey-normal: #f2f2f2;
  --color-grey-dark: #bcbbbb;
  --font-header: "bodoni-urw";
  --font-main: "raleway";
  --font-smallcaps: "raleway"; }

.look-pager .look-pager-number {
  margin-right: 8px; }
  .look-pager .look-pager-number a {
    color: var(--color-black-light);
    height: 44px;
    width: 44px;
    border-radius: 100px;
    font-family: 'raleway';
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-grey-lighter); }
  .look-pager .look-pager-number.look-pager-number-active a {
    background: var(--color-red-accent);
    border: 0;
    color: white; }
  .look-pager .look-pager-number.look-pager-number-more a {
    border: 0;
    cursor: none;
    pointer-events: none;
    width: 22px; }

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-light: #f0f0f0;
  --color-dark: #202020;
  --color-black-light: #5c5c5c;
  --color-black-almost: #111111;
  --color-black-almost-light: #1b1b1b;
  --color-black-grey: #242424;
  --color-black-grey-light: #383838;
  --color-red-accent: #dd4b39;
  --color-grey-lighter: #ededed;
  --color-grey-normal: #f2f2f2;
  --color-grey-dark: #bcbbbb;
  --font-header: "bodoni-urw";
  --font-main: "raleway";
  --font-smallcaps: "raleway"; }

.look-footer {
  background-color: var(--color-black-almost);
  padding-top: 80px; }

.look-footer-top {
  border-bottom: 1px solid var(--color-black-almost-light); }

.look-footer-section {
  width: 33%;
  margin-right: 60px;
  margin-bottom: 60px; }

.look-footer-section:last-child {
  margin-right: 0; }

.look-footer-section-title {
  margin-bottom: 30px; }

.look-footer-list li {
  border-bottom: 1px solid var(--color-black-almost-light);
  color: white;
  padding: 13px 0;
  display: flex;
  justify-content: space-between; }
  .look-footer-list li:last-child {
    border-bottom: 0; }

.look-footer-bottom {
  justify-content: space-between;
  color: white;
  margin: 42px 0; }

.look-footer-social-list {
  display: flex; }
  .look-footer-social-list li {
    margin: 0 6px; }
    .look-footer-social-list li:last-child {
      margin-right: 0; }

.look-social-circle-dark {
  background-color: #1b1b1b;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #383838; }

/*# sourceMappingURL=main.css.map */
